block vars

doctype html
html(lang = "ru")
  head
    block meta
      meta(charset = "utf-8")
      meta(name = "viewport", content = "width=device-width, initial-scale=1, shrink-to-fit=no")
    
    block headInclusions
      // CSS
      //- Boostsrap Version - 5.0.0 alpha3
      link(rel = "stylesheet", href = "css/bootstrap.css")
      link(rel = "stylesheet", href = "css/styles.css")
      
      // Google Fonts
      link(rel = "stylesheet", href = _font)

    title #{_title}
  body
    include ../includes/header.pug

    block content

    include ../includes/footer.pug
    block footerInclusions
      script(src = "js/bootstrap.bundle.min.js")